@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <div>
        <h3>Insert</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Введите имя таблицы, в которую хотите добавить</p></td>
                    <td><input type="text" id="txt" name="table_name" /> </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>