@{
    ViewBag.Title = "Заказ на покупку книги";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<!DOCTYPE html>
<form method="post" action="">
    <h2>Форма оформления заказа на прочтение книги</h2>
    <div class="center-block">
        <table id="single">
            <tr>
                @foreach (var el in ViewBag.NamesList)
                {
                    <td>@el</td>;
                }
                <td></td>
                <td></td>
            </tr>
            @foreach (var element in ViewBag.Table)
            {
                <tr>
                    <td><p>@element.Book_title</p></td>
                    <td><p>@element.Description</p></td>
                    <td><p>@element.Number_copies_on_hands</p></td>
                    <td><a href="/Home/ReadBook?id=@element.Id&type=read">Читать</a></td>
                    <td><a href="/Home/ReadBook?id=@element.Id&type=order">Заказать книгу</a></td>
                </tr>
            }
        </table>
    </div>
</form>
